body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

form.loginPanel {
    border: 1px solid gray;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 20%;
}

form.loginPanel input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

form.loginPanel div.centered {
    text-align: center
}
form.loginPanel input.enter {
    width: 50%;
    background-color: gray;
    color: white;
    font-size: 100%;
}
@media only screen and (max-width: 600px) {
    form.loginPanel {
        width: 80%;
    }
}

.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
  }

header {
    grid-area: header;
}
  
nav {
    grid-area: nav;
    margin-left: 0.5rem;
    border-right: 1px solid gray;
    overflow:scroll;
    padding: 5px;
    overflow-x: hidden;
}
  
main {
    grid-area: content;
    overflow:scroll;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
    border-left: 1px solid gray;
    overflow:scroll;
    overflow-x: hidden;
    padding: 5px;
}

aside select {
    width: 100%;
    font-size: 90%;
    padding: 5px;
    height: 200px;
}

#deviceConfiguration {
    display: none;
}

#groupConfiguration {
    display: none;
}

#placeholder {
    display: none;
}

#dropBox {
    width: 100%;
    height: 100%;
    text-align: center;
}
figure {
    margin: 0;
    width: 90%;
    border: 5px solid lightgray;
    border-radius: 3px;
    background-color: lightgray;
    text-align: center;
    overflow: hidden;

}

figure img {
    width: 100%;
}
figure.selected {
    background-color: gray;
    border: 5px solid gray;
}

div.conf input {
    display: block;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

div.conf input.text {
    width: 300px;
}
div.conf input.number {
    width: 50px;
}

div.conf input.g_select {
    display: inline;
}
div.conf input.m_select {
    display: inline;
}

input:disabled {
    background-color: lightgray;
}

#groupExpireCheckbox {
    display: inline;
}

.status {
    padding-left: 10px;
}
.dropzone {
    background-color: white;
    color: white;
    border-radius: 5px;
    height: 20px;
    margin: 0px;
    padding: 0;
}

.dropvisible {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
    padding: 50px;
}